@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #fff;
}

body {
    position: relative;
    background: black;
}

body::-webkit-scrollbar {
    display: none;
}


.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


header .header-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.article {
    width: 100%;
    height: 100vh;
}

.article-container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.article-box {
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}

.article-thum {
    width: 18%;
    height: 100%;
    background: #fff;
}

.article-description {
    width: 80%;
    height: 100%;
    background: #fff;
}